body {
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

h1 {
    color: #007bff;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    padding: 8px;
}

#playas, #conteo {
    padding: 10px;
}

#verEnPaginaAparte {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}


/* Estilos para el formulario y la selección */
label {
    display: block;
    margin-top: 10px;
}

select,
input {
    padding: 8px;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
